*, *:before, *:after {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

*:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1em #55b0ff;
  border-radius: 0.3em;
}


body {
  margin: 0;
  padding: 0 2%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000;
  background: #fff;
}

.hidden {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

h1,
h2 {
  font-family: 'Fredoka One', sans-serif;
  letter-spacing: 0.01em;
}

h1 {
  margin: 0.3em;
  font-size: 2.6em;
  line-height: 1;
}

h2 {
  margin: 0.3em 0;
  font-size: 1.6em;
}

h3 {
  margin: 0.6em;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

p{
  margin: 0.5em 0;
}

header {
  text-align: center;
}

.fixed-colours {
  color: #000;
  background: #fff;
  padding: 1em 2%;
  border-radius: 1em;
  text-align: center;
}

section {
  margin-top: 0.8em;
}

form {
  margin: 0.5em 3em 0 0;
  display: inline-block;
}

form p {
  margin: 0 0 1em;
}

.line {
  display: block;
  text-align: right;
  white-space: nowrap;
  margin: 0.3em 0;
}

label {
  text-align: right;
  padding-right: 0.5em;
  display: inline-block;
}

input,
button {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  border-radius: 0.3em;
  border: 1px solid #000;
  padding-bottom: 0.2em;
  padding-top: 0.1em;
}

input {
  width: 5.5em;
  margin-left: 0.1em;
  padding-left: 0.1em;
}

button {
  background: aliceblue;
  margin: 0 0 0 0.05em;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

button:hover,
button:focus {
  background: #d0e9ff;
  box-shadow: none;
}

button:active {
  box-shadow: inset 0 0.1em 0.3em rgba(0,0,0,.125);
}

table {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 0.3em;
  border-spacing: 0;
}

th,
td {
  padding: 0.5em;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

td:first-child {
  text-align: right;
}

th:last-child,
td:last-child {
  border-right: 0;
}

tr:last-child td {
  border-bottom: 0;
}

.pass {
  color: #008000;
  font-weight: 700;
}

.fail {
  color: #e50000;
  font-weight: 700;
}

footer {
  text-align: center;
  margin: 2em 0;
}

@media screen and (min-width: 28.5em) {
  form p {
    margin: 1em 0 2em;
  }

  .line {
    display: inline-block;
    margin: 0.1em 0;
  }

  label {
    width: 6em;
  }

}

@media screen and (min-width: 60em) {
  body {
    font-size: 110%;
  }

  header p {
    font-size: 1.1em;
  }

  h1 {
    font-size: 2.8em;
    line-height: normal;
  }

  h3 {
    margin: 1.3em;
  }

  section {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
}
